.header {
  padding: 35px 0;
}

.header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  font-family: $header-font;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  color: $color-light;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  span {
    color: $color-accent;

    &::selection {
      color: $color-light;
      background-color: $color-accent;
    }
  }

  &::selection {
    background-color: $color-accent;
  }

  &:hover {
    opacity: .8;
  }
}