.header {
  padding: 35px 0;

  @media (max-width: $mobile-max) {
    padding: 30px 0;
  }
}

.header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  text-decoration: none;
  
  &:hover {
    opacity: .8;
  }
}

.header-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5em;
  color: $color-light;
  text-align: center;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  span {
    color: $color-accent;

    &::selection {
      color: $color-light;
      background-color: $color-accent;
    }
  }

  &::selection {
    background-color: $color-accent;
  }

  @media (max-width: $mobile-max) {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
  }
}