.players {
  padding: 20px 0;

  @media (max-width: $mobile-max) {
    padding: 15px 0;
  }
}

.players-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.players-info-box {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;

  @media (max-width: $mobile-max) {
    font-size: 18px;
  }
}

.players-edit-btn,
.players-save-btn {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  border: none;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.players-vs-wrap {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;

  @media (max-width: $mobile-max) {
    margin: 0 15px;
  }
}

.players-vs-icon {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('../../vs-icon.png');

  @media (max-width: $mobile-max) {
    width: 10px;
    height: 10px;
  }
}