.stats {
  padding: 20px 0;
}

.stats-pot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-semidark;
  
}

.stats-pot-first-player {}

.stats-pot-first-player-info {}

.stats-pot-first-player-btns {}

.stats-potted-btn {}

.stats-missed-btn {}

.stats-pot-text {}

.stats-pot-title {}