.stats {
  margin: -20px 0;
  padding: 20px 0;

  @media (max-width: $mobile-max) {
    margin: -15px 0;
    padding: 15px 0;
  }
}

.stats-table {
  padding: 30px;
  background-color: $color-semidark;
  border-radius: 10px;

  @media (max-width: $mobile-max) {
    // margin: 15px 0;
    padding: 0;
    background: none;
  }
}

.stats-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

  @media (max-width: $mobile-max) {
    padding: 25px 0;
  }
}

.stats-player {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats-player-info {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;

  @media (max-width: $mobile-max) {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
  }
}

.stats-player-info.all-potted-balls-info {
  margin-bottom: 0px;
}

.stats-player-btns {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-potted-btn,
.stats-missed-btn {
  display: block;
  width: 60px;
  height: 35px;
  border: none;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all .1s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  @media (max-width: $mobile-max) {
    width: 45px;
    height: 30px;
    border-radius: 7px;
  }
}

.stats-potted-btn {
  margin-right: 14px;
  background-color: $color-potted-btn;
  background-image: url(../../potted-icon.png);
  background-size: 17px;

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: .7;
    transform: translateY(1px);
  }

  @media (max-width: $mobile-max) {
    margin-right: 10px;
    background-size: 15px;
  }
}

.stats-missed-btn {
  background-color: $color-missed-btn;
  background-image: url(../../missed-icon.png);
  background-size: 15px;

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: .7;
    transform: translateY(1px);
  }

  @media (max-width: $mobile-max) {
    background-size: 13px;
  }
}

.stats-text {
  flex-basis: 20%;
  margin: 0 20px;
  text-align: center;

  @media (max-width: $mobile-max) {
    margin: 0 10px;
  }
}

.stats-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  color: $color-accent;
}

.stats-btns-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  @media (max-width: $mobile-max) {
    padding: 25px 0;
  }
}

.stats-undo-btn-wrap,
.stats-clear-btn-wrap {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;

  @media (max-width: $mobile-max) {
    flex-basis: 20%;
    margin: 0 10px;
  }
}

.stats-undo-btn,
.stats-clear-btn {
  display: block;
  max-width: 130px;
  width: 100%;
  height: 40px;
  background-color: $color-undo-clear-btn;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all .2s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    background-color: $color-accent;
  }

  &:active {
    opacity: .8;
    transform: translateY(1px);
  }

  @media (max-width: $mobile-max) {
    max-width: 75px;
    height: 35px;
  }
}

.stats-undo-btn {
  background-image: url(../../undo-icon.png);
  background-size: 20px;

  @media (max-width: $mobile-max) {
    background-size: 18px;
  }
}

.stats-clear-btn {
  background-image: url(../../clear-icon.png);
  background-size: 19px;

  @media (max-width: $mobile-max) {
    background-size: 17px;
  }
}