.stats {
  margin: -20px 0;
  padding: 20px 0;

  @media (max-width: $mobile-max) {
    margin: -15px 0;
    padding: 15px 0;
  }
}

.stats-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 30px;
  background-color: $color-semidark;
  border-radius: 10px;

  @media (max-width: $mobile-max) {
    margin: 15px 0;
    padding: 20px;
  }
}

.stats-player {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats-player-info {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;

  @media (max-width: $mobile-max) {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
  }
}

.stats-player-info.all-potted-balls-info {
  margin-bottom: 0px;
}

.stats-player-btns {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-potted-btn,
.stats-missed-btn {
  display: block;
  width: 60px;
  height: 30px;
  border: none;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all .1s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  @media (max-width: $mobile-max) {
    width: 40px;
    height: 23px;
    border-radius: 7px;
  }
}

.stats-potted-btn {
  margin-right: 14px;
  background-color: $color-potted-btn;
  background-image: url(../../potted-icon.png);
  background-size: 15px;

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: .7;
    transform: translateY(1px);
  }

  @media (max-width: $mobile-max) {
    margin-right: 10px;
    background-size: 12px;
  }
}

.stats-missed-btn {
  background-color: $color-missed-btn;
  background-image: url(../../missed-icon.png);
  background-size: 13px;

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: .7;
    transform: translateY(1px);
  }

  @media (max-width: $mobile-max) {
    background-size: 11px;
  }
}

.stats-text {
  flex-basis: 20%;
  margin: 0 20px;
  text-align: center;

  @media (max-width: $mobile-max) {
    margin: 0 10px;
  }
}

.stats-title {
  font-size: 16px;
  font-weight: 500;
  color: $color-accent;

  @media (max-width: $mobile-max) {
    font-size: 14px;
  }
}

.stats-reset-btn-wrap {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-reset-btn,
.stats-reset-all-btn {
  display: block;
  max-width: 140px;
  width: 100%;
  padding: 6px;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 600;
  color: $color-light;
  border: none;
  background: transparent;
  background-color: $color-accent;
  border-radius: 10px;
  cursor: pointer;
  transition: all .1s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  @media (max-width: $mobile-max) {
    max-width: 100px;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 7px;
  }
}

.stats-reset-btn {
  background-color: transparent;
  border: 2px solid $color-accent;

  &:hover {
    background-color: $color-accent;
  }

  &:active {
    opacity: .8;
    transform: translateY(1px);
  }
}

.stats-reset-all-btn {
  border: 2px solid $color-accent;

  &:hover {
    background-color: transparent;
  }

  &:active {
    opacity: .8;
    transform: translateY(1px);
  }

  @media (max-width: $mobile-max) {
    margin: 0 5px;
  }
}